body, *{
    margin:0;
    padding: 0;
    font-size: 12px;
    font-weight: lighter;
    position: relative;
}
/*.row{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0 10px;*/
/*}*/

.highcharts-credits{
    display: none;
}
.chart, .details{
    display: inline-block;
}
.details.fund{
    margin: 30px 30px;
    display: inline-flex;
    align-items: center;
}
.chart{
    width: 100%;
    /*opacity: 0;*/
}
.chart > div{
    /*text-align: right;*/
}
.fund-start-date{
    font-weight: bold;
    font-size: 14px;
}
.chart-nav,#container {
    min-width: 310px;
    max-width: 1000px;
    margin: 0 auto
}
#container{
    height: 400px;
    }   
.available > div{
    display: inline-block;
}
.details.date > div{
    /*display: inline-block;*/
    padding-left: 10px;
    margin: 30px 0;
}
.date input{
    width: 180px;
    height: 40px;
    padding: 10px;
    outline: none;
}
.fund{
    /*width: 22%;*/
    text-align: left;
}
.details.fund > div{

}
#end-month,#start-month,select{
    width: 42%;
    text-decoration: none;
}
#start-year,#end-year{
    width: 50%;
    margin-left: 8%;
}
/*.date{*/
    /*vertical-align: top;*/
    /*width: 20%;*/
/*}*/
.oakmark-text{
    color: #643488;
    font-size: 24px;
}
.oakmark{
    width: 15px;
    border-radius: 25px;
    background: rgba(100, 52, 136, 0.15);
    height: 15px;
    border-width: 3px;
    border-color: #643488;
    border-style: solid;
    display: inline-block;
    margin-right: 10px;
}
.benchmark-text{
    color: #00B5CC;
    font-size: 24px;
}
.benchmark{
    width: 15px;
    border-radius: 25px;
    background: rgba(0, 181, 204, 0.15);
    height: 15px;
    border-width: 3px;
    border-color: #00B5CC;
    border-style: solid;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.highcharts-tooltip>span {
    background: rgba(255,255,255,0.85);
    border: 1px solid silver;
    border-radius: 100%;
    box-shadow: 0px 0px 0px #d7d7d7;
    padding: 50px 5px;
    width: 180px;
    height: 180px;
    text-align:center;
    box-sizing:border-box;
}
.highcharts-tooltip>span .head{
    font-size:24px;
    color: #7a4684;
}
.disclosure{
    height: 150px;
    margin-bottom: 100px; 
}
.text-bold{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.available {
    display: inline-block;
    margin-bottom: 15px!important;
}
.date_available,
.date_available span{
    font-weight: 400;
    font-style: normal;
    padding-bottom: 15px;
    font-size: 12px;
    color: #6f6f6f;
    position: relative;
    /*right: 10px;*/
}

.date_available span{
    /*padding-left: 15px;*/
    font-weight: bold;
}

.flexWrapper{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
.highcharts-yaxis-labels > span{
    left: 840px;
}

.highcharts-yaxis-labels:nth-child(2n+1) {
    margin: 20px 0 0;
}
.smallscreenonly{
    display: none;
}

@media screen and (max-width:320px){
    .details.fund{
        margin: 0;
        display: block;
    }
    .details.fund .fund-name{
        display: block;
        width: 100%;
        text-align: left;
    }
    .details.fund-val{
        text-align: right;
    }
    .details.fund-val .fund-value{
        display: block;
        width: 100%;
        text-align: right;
    }
    #fundInvestment {
        width: 100%
    }
    select,#start-year,#end-year,#start-month,#end-month{
        width: 45%;
    }
    .flexWrapper{
        display: block;
    }
    .highcharts-yaxis-labels > span{
        display: none;
    }
    .smallscreenonly{
        display: block;
    }
}
@media screen and (max-width:768px){
    .details.fund{
        margin: 0;
        display: block;
    }
    .details.fund .fund-name{
        display: block;
        width: 100%;
        text-align: left;
    }
    .details.fund-val{
        text-align: right;
    }
    .details.fund-val .fund-value{
        display: block;
        width: 100%;
        text-align: right;
    }
    #fundInvestment {
        width: 100%
    }
    select,#start-year,#end-year,#start-month,#end-month{
        width: 45%;
    }
    .flexWrapper{
        display: block;
    }
    .highcharts-yaxis-labels > span{
        display: none;
    }
    .smallscreenonly{
        display: block;
    }
}
@media screen and (max-width:1080px){
    .flexWrapper{
        display: block;
    }
    .highcharts-yaxis-labels > span{
        display: none;
    }
    .flexWrapper select{
        width: 100%;
        margin-bottom: 4px;
    }
}