body, *{
	margin:0;
	padding: 0;
	font-size: 12px;
	font-weight: lighter;
}
.highcharts-credits{
	display: none;
}
.chart{
	display: none;
}
.chart > div{
	text-align: right;
}
.fund-start-date{
	font-weight: bold;
	font-size: 14px;
}
.chart-nav,#container {
	min-width: 310px;
	max-width: 1000px;
	margin: 0 auto
}
#container{
	height: 400px;
	}	
.details, .date > div{
	display: inline-block;
	padding-left: 10px;
}
.fund{
	width: 12%;
    text-align: left;
}
.date{
	width: 74%;
}

.oakmark{
    width: 10px;
    border-radius: 25px;
    background: rgba(122, 70, 132, 0.64);
    height: 10px;
    border-width: 2px;
    border-color: #7a4684;
    border-style: solid;
    display: inline-block;
    margin-right: 10px;
}
.benchmark{
    width: 10px;
    border-radius: 25px;
    background: #9dc6e0;
    height: 10px;
    border-width: 2px;
    border-color: #6faadb;
    border-style: solid;
    display: inline-block;
    margin-right: 10px;
}
select{
	width: 60px;
    height: 40px;
    text-decoration: none;
}

.highcharts-tooltip>span {
    background: rgba(255,255,255,0.85);
    border: 1px solid silver;
    border-radius: 100%;
    box-shadow: 1px 1px 2px #888;
    padding: 70px 5px;
    width: 180px;
    height: 180px;
    text-align:center;
    box-sizing:border-box;
}
.highcharts-tooltip>span .head{
 	font-size:36px;
 	color: #7a4684;
}